.vscode
*.db
bin
obj
.DS_Store
wwwroot
publish
settings.json
appsettings.json
!/.vscode/
!/ak-social-app/ak-social-app.sln.DotSettings.user
/.vscode/
!/ak-social-app/.idea/
ak-social-app/.idea/.idea.ak-social-app/.idea/codeStyles/
ak-social-app/.idea/.idea.ak-social-app/.idea/dataSources.xml
ak-social-app/.idea/.idea.ak-social-app/.idea/dataSources/
!/.idea/
!/.idea/compiler.xml
!/.idea/dbnavigator.xml
